{% extends "layout.html" %}
{% block body %}
     
     <br>
     
        
<img src="{{ url_for('static', filename='images/GC7000WP.png')}}" width=222 class="img-fluid" alt="Responsive image">
        
        <br>
        
      <H4> Bill of material:</H4>
   
        <br>
        

<table class="table table-striped table-boardered">
    <tr>
      <th>Product ID</th>
      <th>Product Description</th>
      <th>Quantity</th>
     
    </tr>
    {% for row in rows %}
    <tr>
      <td scope="bom">{{ bom["part_number"] }}</td>
      <td>{{ bom["product_description"] }}</td>
      <td>{{ bom["quantity"] }}</td>
      
     
    </tr>
   {% endfor %}
</table>






        <br>
    





 <a href="/">Go Back</a>
 
{% endblock %}