{% extends "layout.html" %}
{% block body %}

    <br>
     <H3> Boiler Cascade Configurator</H3>

     <BR>

     <form action="/search" method="post">



   <div class="form-group">
    <label for="exampleFormControlSelect2">Select your system output requirement (kW)</label>
    <select multiple class="form-control" autofocus name="output" id="exampleFormControlSelect2">
      <option>100</option>
      <option>130</option>
      <option>150</option>
      <option>170</option>
      <option>195</option>
      <option>200</option>
      <option>250</option>
      <option>260</option>
      <option>255</option>
      <option>290</option>
      <option>300</option>
      <option>325</option>
      <option>340</option>
      <option>375</option>
      <option>390</option>
      <option>400</option>
      <option>425</option>
      <option>435</option>
      <option>500</option>
      <option>510</option>
      <option>580</option>
      <option>600</option>
      <option>625</option>
      <option>725</option>
      <option>750</option>
      <option>870</option>
      
      
    </select>
  </div>
  
 
  <br>

   <label for="exampleRadios1">Select hydraulic arrangement</label>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="hydraulic" id="exampleRadios1" value="LLH" checked>
  <label class="form-check-label" for="exampleRadios1">
    Ceiled 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="hydraulic" id="exampleRadios2" value="PHE">
  <label class="form-check-label" for="exampleRadios2">
    Open vented
  </label>
</div>

<br>

   <label for="exampleRadios1">Select boiler layout</label>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="layout" id="exampleRadios1" value="TL" checked>
  <label class="form-check-label" for="exampleRadios1">
    In-line
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="layout" id="exampleRadios2" value="TR">
  <label class="form-check-label" for="exampleRadios2">
    Back-to-back
  </label>
</div>

<br>

<br>

   <label for="exampleRadios1">Select control strategy</label>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="controls" id="exampleRadios1" value="CC8313" checked>
  <label class="form-check-label" for="exampleRadios1">
    Internet-connected controls
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="controls" id="exampleRadios2" value="MC400 Cascade Sequencer">
  <label class="form-check-label" for="exampleRadios2">
    Building Management System - Bosch controlling sequencing
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="controls" id="exampleRadios2" value="MU100">
  <label class="form-check-label" for="exampleRadios2">
    Building Management System - BMS controlling boiler sequencing
  </label>
</div>


<br>
<input class="btn btn-primary" type="submit" value="Search">

         


     </form>
    <br>


<img src="{{ url_for('static', filename='images/GC7000WP.png')}}" width=222 class="img-fluid" alt="Responsive image">


{% endblock %}